.banner-board {
  padding: 200px;
}
.docs-example {
  padding: 60px;
  border: 1px solid #ddd;
  text-align: center;
  margin-bottom: 2em;
}
.docs-container {
  background: #f7f7f7;
  padding: 2em;
  text-align: left;
  display: inline-block;
}
