.section-pl-resources .pl-section-pad{
  padding: 0;
}

.pl-resources-mast{
  padding: 7vw; 
  background: #222; 
  color: #eee;
  h1, h4{
    margin: 0;
  }
  h4{
    opacity: .5;
  }

}

.pl-resources-content{
  padding: 5vw 7vw;
  .pad{
   
  }
}

.pl-resources-search{
  margin-top: 1rem;
  input{
    width: 100%;
    background: transparent;
    border: 1px solid #666;
    font-size: 1.3em;
    padding: .5em 1em; 
    &:focus{
      background: rgba(255,255,255,.1);
      border: 1px solid #999;
      outline: none;
    }
  }
  .search-button{
    background: none;
    border: none;
    position: absolute;
    right: 0;
    width: 2em;
    font-size: 1.6em;
    opacity: .3;
    text-align: center;
    &:hover, {
      opacity: .5;
    }
    &:focus, 
    &:active{
      outline: none;
    }
  }
} 